boto
boto3
botocore
certifi
chardet
Cython
docutils
dyNET
future
gensim
idna
jmespath
#kenlm
numpy
pbr
pyenchant
python-dateutil
requests
s3transfer
scipy
six
smart-open
torch==1.12
torchtext==0.2.1
tqdm
urllib3
wxconv